* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
 
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #129202;
  }
 
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #00a100c7;
    color: rgb(255, 255, 255);
  }
 
  h1 {
    text-align: center;
    background: #00a100c7;
    color: aliceblue;
    
  }
 
  hr {
    font-weight: bold;
    height: 3px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
 
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #00a100c;
  }
 
  .game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: #00a100c;
  }
  